<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xlbs.apiservice.dao.imp.MenuDao">

    <sql id="entity">
        id as `key`,
        created_by as createdBy,
        created_date as createdDate,
        last_modify_by as lastModifyBy,
        last_modify_date as lastModifyDate
    </sql>

    <sql id="menuField">
        id as id,
        `name` as `name`,
        parent_id as parentId,
        `rank` as `rank`,
        url as url,
        is_enable as isEnable,
        icon as icon,
        `index` as `index`,
        <include refid="entity"/>
    </sql>

    <!--分页查询-->
    <select id="find" resultType="com.xlbs.apiservice.entity.Menu">
        select
          `name` as `title`,
          <include refid="menuField"/>
        from
          t_menu
        order by id
    </select>

    <!--查询-->
    <select id="select" resultType="com.xlbs.apiservice.entity.Menu">
        select
          `name` as `title`,
          <include refid="menuField"/>
        from
          t_menu
        <where>
            <if test="id != null">
                `id` = #{id}
            </if>
            <if test="rank != null">
                `rank` = #{rank}
            </if>
            <if test="ids != null">
                id in
                <foreach collection ="ids" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach >
            </if>
            <where>
                <if test="createdBy != null">
                    created_by = #{createdBy}
                </if>
            </where>
        </where>
        order by id
    </select>

    <!--保存-->
    <insert id="save" parameterType="com.xlbs.apiservice.entity.Menu">
        insert into t_menu
          (`name`,`parent_id`,`rank`,`url`,`is_enable`,created_by,created_date,last_modify_by,last_modify_date)
        values
          (#{name},#{parentId},#{rank},#{url},#{isEnable},#{createdBy},#{createdDate},#{lastModifyBy},#{lastModifyDate})
    </insert>

    <!--通过用户ID查询该用户拥有的菜单-->
    <select id="findMenuByUserId" resultType="com.xlbs.apiservice.entity.Menu">
        select
          distinct menu.id,
          menu.name as name,
          menu.parent_id as parentId,
          menu.rank as `rank`,
          menu.url as url,
          menu.is_enable as isEnable,
          menu.icon as icon,
          menu.index as `index`,
          menu.created_by as createdBy,
          menu.created_date as createdDate,
          menu.last_modify_by as lastModifyBy,
          menu.last_modify_date as lastModifyDate
        from
          (select m.*
          from `t_user_role` ur
          left join `t_role_menu` rm on ur.`role_id` = rm.`role_id`
          left join `t_menu` m on rm.`menu_id` = m.`id`
          where ur.`user_id` = #{userId}
          and m.`is_enable` = 1) as menu
        order by menu.index
    </select>



</mapper>