<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xlbs.apiservice.dao.imp.UserRoleDao">

    <sql id="entity">
        created_by as createdBy,
        created_date as createdDate,
        last_modify_by as lastModifyBy,
        last_modify_date as lastModifyDate
    </sql>

    <sql id="userRoleField">
        user_id as userId,
        role_id AS roleId,
        <include refid="entity"/>
    </sql>

    <!--查询用户角色-->
    <select id="findUserRole" resultType="com.xlbs.apiservice.entity.Role">
        select
          role_id AS id,
          <include refid="entity"/>
        from
          t_user_role
        <where>
            <if test="userId != null">
                user_id = #{userId}
            </if>
            <if test="roleId != null">
                role_id = #{roleId}
            </if>
        </where>
    </select>

    <!--批量保存用户角色信息-->
    <insert id="saveUserRoles">
        insert into t_user_role
          (user_id, role_id, created_by, created_date,last_modify_by,last_modify_date)
        values
          <foreach collection ="list" item="userRole" separator =",">
            (#{userRole.userId}, #{userRole.roleId}, #{userRole.createdBy}, #{userRole.createdDate}, #{userRole.lastModifyBy}, #{userRole.lastModifyDate})
          </foreach >
    </insert>

    <!--删除用户角色信息-->
    <delete id="deleteUserRolesByUserId" >
        delete from t_user_role where user_id = #{userId}
    </delete>

</mapper>