.user{
    width: 1200px;
    margin: auto;
}
.user-form{
    height: 45px;
    /*margin: auto;*/
    /*border: 1px solid #ccc;*/
    /*background: white;*/
    /*position: absolute;*/
    /*margin-top: 50%;*/
    /*margin-bottom: 50%;*/
    /*left: 0px;*/
    /*right: 0px;*/
    /*z-Index:1;*/
}
.user-table{
    height: 645px;
}
.user-pagination{
    float: right;
}
.ant-table-body{
    height: 587px;
}