.user{
    /*position:relative;*/
    /*width: 1500px;*/
    /*height: 1200px;*/
}
.user-button{
    display: flex;           /*设置为flex布局*/
    justify-content: center; /*水平居中*/
    align-items: center;     /*垂直居中*/
}
.user-from{
    width: 500px;
    height: 800px;
    /*margin: auto;*/
    /*border: 1px solid #ccc;*/
    /*background: white;*/
    /*position: absolute;*/
    /*margin-top: 50%;*/
    /*margin-bottom: 50%;*/
    /*left: 0px;*/
    /*right: 0px;*/
    z-Index:1;
}

.user-table{
    /*width: 1500px;*/
    /*height: 300px;*/
}